1)Tweet dashboard.json
[{"id":"8998d2ae.22455","type":"subflow","name":"Watson Translation to English","info":"","in":[{"x":44.54547119140625,"y":120,"wires":[{"id":"94756a3a.bc5cb8"}]}],"out":[{"x":1106.3636474609375,"y":127.27273559570312,"wires":[{"id":"9efcdf77.c11dd","port":0}]}]},{"id":"94756a3a.bc5cb8","type":"watson-language-translator-identify","z":"8998d2ae.22455","name":"","service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":187.1666717529297,"y":123.5302734375,"wires":[["5efb54a5.cfdc9c"]]},{"id":"5efb54a5.cfdc9c","type":"switch","z":"8998d2ae.22455","name":"","property":"lang.language","propertyType":"msg","rules":[{"t":"neq","v":"en","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":367.16650390625,"y":121.53028869628906,"wires":[["ecf4404d.0742c"],["9efcdf77.c11dd"]]},{"id":"ecf4404d.0742c","type":"function","z":"8998d2ae.22455","name":"Not English - Set Language","func":"msg.srclang=msg.lang.language;\nreturn msg","outputs":1,"noerr":0,"x":595.07568359375,"y":52.530364990234375,"wires":[["c9b880f7.a5e1c"]]},{"id":"c9b880f7.a5e1c","type":"watson-translator","z":"8998d2ae.22455","name":"","action":"translate","basemodel":"es-en","domain":"general","srclang":"es","destlang":"en","password":"QPal7tWH2Kmx","apikey":"","custom":"","domainhidden":"general","srclanghidden":"es","destlanghidden":"en","basemodelhidden":"es-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":835.5301513671875,"y":52.439483642578125,"wires":[["9efcdf77.c11dd"]]},{"id":"9efcdf77.c11dd","type":"function","z":"8998d2ae.22455","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":991.9542236328125,"y":124.606201171875,"wires":[[]]},{"id":"5f797186.ef0ce","type":"tab","label":"1)Tweet Dashboard","disabled":false,"info":""},{"id":"2ec8aef3.eaed32","type":"debug","z":"5f797186.ef0ce","name":"Positive Tweet debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":920,"y":280,"wires":[]},{"id":"f9340e92.0719f","type":"switch","z":"5f797186.ef0ce","name":"Positive / Negative Tweets","property":"sentiment.score","propertyType":"msg","rules":[{"t":"gte","v":"2","vt":"num"},{"t":"lt","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":340,"wires":[["2ec8aef3.eaed32"],["d08770d4.29a4a"]]},{"id":"30c75fcf.46617","type":"debug","z":"5f797186.ef0ce","name":"msg.sentiment.score","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"sentiment.score","targetType":"msg","x":600,"y":280,"wires":[]},{"id":"ec65af01.78178","type":"debug","z":"5f797186.ef0ce","name":"msg.tweet details","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"tweet","targetType":"msg","x":490,"y":60,"wires":[]},{"id":"d08770d4.29a4a","type":"debug","z":"5f797186.ef0ce","name":"Negative Tweets","active":false,"console":"false","complete":"payload","x":900,"y":400,"wires":[]},{"id":"6c4125d4.46c3ec","type":"function","z":"5f797186.ef0ce","name":"Remove URLS and replace #","func":"var tweet = msg.tweet.text;\nvar newtweet = tweet.replace(/#/g, \" Hash tag \");\n\n// regex from https://stackoverflow.com/questions/1500260/detect-urls-in-text-with-javascript\nmsg.payload = newtweet.replace( /(([a-z]+:\\/\\/)?(([a-z0-9\\-]+\\.)+([a-z]{2}|biz|com|co|edu|gov|info|net|org|ly))(:[0-9]{1,5})?(\\/[a-z0-9_\\-\\.~]+)*(\\/([a-z0-9_\\-\\.]*)(\\?[a-z0-9+_\\-\\.%=&amp;]*)?)?(#[a-zA-Z0-9!$&'()*+.=-_~:@/?]*)?)(\\s+|$)/gi, \"see short URL \" );\n\n//msg.payload = msg.tweet;\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":140,"wires":[["551f9577.da3bcc","17202558.b53c2b"]]},{"id":"17202558.b53c2b","type":"debug","z":"5f797186.ef0ce","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":990,"y":180,"wires":[]},{"id":"c3f25971.62d628","type":"debug","z":"5f797186.ef0ce","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"tweet.text","targetType":"msg","x":480,"y":100,"wires":[]},{"id":"a82688fa.411678","type":"function","z":"5f797186.ef0ce","name":"Store Tweet data","func":"// tweet object includes a timestamp_ms\nmsg.payload = { \"timestamp\" : msg.tweet.timestamp_ms ,\n                \"tweet\"     : msg.tweet.text,\n                \"sentiment\" : msg.sentiment.score};\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":520,"wires":[["f4706dd3.767c4"]]},{"id":"b5e39dbc.b9104","type":"delay","z":"5f797186.ef0ce","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":340,"y":520,"wires":[["79b53470.d4149c","c4c93c92.537e5","a82688fa.411678"]]},{"id":"f4706dd3.767c4","type":"cloudant out","z":"5f797186.ef0ce","name":"","cloudant":"","database":"tweetdata","service":"node-red-cgbhd-cloudant-1591678193709-36270","payonly":true,"operation":"insert","x":760,"y":520,"wires":[]},{"id":"79b53470.d4149c","type":"change","z":"5f797186.ef0ce","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"tweet.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":560,"wires":[["101b8abd.0b13c5"]]},{"id":"c4c93c92.537e5","type":"change","z":"5f797186.ef0ce","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"sentiment.score","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":600,"wires":[["beb8dfde.03b6d","9992be6e.c9e62"]]},{"id":"78556d8a.da2254","type":"inject","z":"5f797186.ef0ce","name":"Happy test","topic":"","payload":"{\"text\":\"every one is awesome\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":100,"y":200,"wires":[["de6d28c6.03e1e8"]]},{"id":"de6d28c6.03e1e8","type":"change","z":"5f797186.ef0ce","name":"","rules":[{"t":"set","p":"tweet","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":240,"wires":[["6c4125d4.46c3ec"]]},{"id":"a92c361e.7f14b8","type":"inject","z":"5f797186.ef0ce","name":"Sadness test","topic":"","payload":"{\"text\":\"This is miserable and sad\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":110,"y":240,"wires":[["de6d28c6.03e1e8"]]},{"id":"67867022.27247","type":"inject","z":"5f797186.ef0ce","name":"Angry test","topic":"","payload":"{\"text\":\"I hate this demo\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":100,"y":280,"wires":[["de6d28c6.03e1e8"]]},{"id":"40424a96.336034","type":"comment","z":"5f797186.ef0ce","name":"Pick a #hashtag to follow","info":"","x":120,"y":60,"wires":[]},{"id":"101b8abd.0b13c5","type":"ui_text","z":"5f797186.ef0ce","group":"4b7db68a.8d6b38","order":1,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":910,"y":560,"wires":[]},{"id":"beb8dfde.03b6d","type":"ui_gauge","z":"5f797186.ef0ce","name":"","group":"3314ee51.d0ae62","order":1,"width":0,"height":0,"gtype":"gage","title":"Sentiment","label":"units","format":"{{value}}","min":"-10","max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":760,"y":600,"wires":[]},{"id":"9992be6e.c9e62","type":"ui_chart","z":"5f797186.ef0ce","name":"","group":"114414d3.499c4b","order":2,"width":0,"height":0,"label":"Tweet Sentiment History","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-10","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":750,"y":640,"wires":[[]]},{"id":"8c3ae60.caf5018","type":"subflow:8998d2ae.22455","z":"5f797186.ef0ce","name":"","env":[],"x":970,"y":700,"wires":[[]]},{"id":"4bebabb6.29faa4","type":"subflow:8998d2ae.22455","z":"5f797186.ef0ce","name":"","x":830,"y":100,"wires":[[]]},{"id":"2ede0b9.1ec0cf4","type":"twitter in","z":"5f797186.ef0ce","d":true,"twitter":"","tags":"#IndiaFightsCorona,#covid19Karnataka,#ICMRFIGHTSCOVID19,#CoronaWarriors,#TogetherAgainstCovid19","user":"false","name":"Listen to twitter feed","inputs":1,"x":110,"y":100,"wires":[["6c4125d4.46c3ec","ec65af01.78178","c3f25971.62d628"]]},{"id":"6e3a4750.24ab78","type":"twitter out","z":"5f797186.ef0ce","d":true,"twitter":"","name":"Retweet positive tweets","x":920,"y":320,"wires":[]},{"id":"551f9577.da3bcc","type":"sentiment","z":"5f797186.ef0ce","name":"Sentiment of Tweets","property":"payload","x":320,"y":360,"wires":[["f9340e92.0719f","b5e39dbc.b9104","30c75fcf.46617"]]},{"id":"e54709a.8f400f8","type":"twilio out","z":"5f797186.ef0ce","twilio":"50e8b4ad.5bcfdc","number":"","name":"SMS to Phone","x":900,"y":360,"wires":[]},{"id":"4b7db68a.8d6b38","type":"ui_group","z":"","name":"TEXT","tab":"98195374.fb586","order":2,"disp":true,"width":"6","collapse":false},{"id":"3314ee51.d0ae62","type":"ui_group","z":"","name":"gauge","tab":"98195374.fb586","order":3,"disp":true,"width":"6","collapse":false},{"id":"114414d3.499c4b","type":"ui_group","z":"","name":"graph","tab":"98195374.fb586","order":1,"disp":true,"width":"6","collapse":false},{"id":"50e8b4ad.5bcfdc","type":"twilio-api","z":"5f797186.ef0ce","name":"My Twilio","sid":"","from":""},{"id":"98195374.fb586","type":"ui_tab","z":"","name":"Twitter Analysis","icon":"dashboard","disabled":false,"hidden":false}]