2)Map Tweets.json
[{"id":"84af534a.99951","type":"tab","label":"2)Map Tweets","disabled":false,"info":""},{"id":"7aac577d.6ad148","type":"change","z":"84af534a.99951","name":"Create payload for map","rules":[{"t":"set","p":"store.text","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"store.sentiment","pt":"msg","to":"sentiment.score","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"store","tot":"msg"},{"t":"set","p":"payload.icon","pt":"msg","to":"fa-twitter-square","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":480,"wires":[["b1b3bd15.44e6b","9677ff8c.e75d7"]]},{"id":"4164baa7.a2f9a4","type":"debug","z":"84af534a.99951","name":"Payload","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":820,"y":720,"wires":[]},{"id":"b1b3bd15.44e6b","type":"switch","z":"84af534a.99951","name":"Sentiment color","property":"payload.sentiment","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"gt","v":"0","vt":"str"},{"t":"lt","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":320,"y":660,"wires":[["65e5d72a.ff6bd8"],["cf6b1c36.aacd5"],["3e65132a.98b56c"]],"inputLabels":["sentiment"],"outputLabels":["neutral","postive",""]},{"id":"65e5d72a.ff6bd8","type":"change","z":"84af534a.99951","name":"Set to grey","rules":[{"t":"set","p":"payload.iconColor","pt":"msg","to":"grey","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":600,"wires":[["eae25feb.f2aaf","4164baa7.a2f9a4"]]},{"id":"cf6b1c36.aacd5","type":"change","z":"84af534a.99951","name":"Set to green","rules":[{"t":"set","p":"payload.iconColor","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":660,"wires":[["eae25feb.f2aaf","4164baa7.a2f9a4"]]},{"id":"3e65132a.98b56c","type":"change","z":"84af534a.99951","name":"Set to red","rules":[{"t":"set","p":"payload.iconColor","pt":"msg","to":"red","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":720,"wires":[["eae25feb.f2aaf","4164baa7.a2f9a4"]]},{"id":"e7fdf11b.566ec","type":"inject","z":"84af534a.99951","name":"Example","topic":"","payload":"{\"created_at\":\"Mon May 13 03:58:11 +0000 2019\",\"id\":1127776262246862848,\"id_str\":\"1127776262246862848\",\"text\":\"RT @johnwalicki: #CallforCode Fun Live coding event with @IBMDeveloper @johnwalicki - Using #NodeRED and AI to analyze social media https://t.c…\",\"source\":\"<a href=\\\"http://twitter.com\\\" rel=\\\"nofollow\\\">Twitter Web Client</a>\",\"truncated\":false,\"in_reply_to_status_id\":null,\"in_reply_to_status_id_str\":null,\"in_reply_to_user_id\":null,\"in_reply_to_user_id_str\":null,\"in_reply_to_screen_name\":null,\"user\":{\"id\":2577403879,\"id_str\":\"2577403879\",\"name\":\"John Walicki\",\"screen_name\":\"johnwalicki\",\"location\":\"Paramus,NJ\",\"url\":\"https://github.com/johnwalicki\",\"description\":\"IBM Watson Internet of Things Developer Advocate, Über Geek, Family Guy. #IoT #OpenSource #Linux #AI #CallforCode #IBMDroneDrop My tweets are my own.\",\"translator_type\":\"none\",\"protected\":false,\"verified\":false,\"followers_count\":5754,\"friends_count\":1536,\"listed_count\":161,\"favourites_count\":9012,\"statuses_count\":2521,\"created_at\":\"Thu Jun 19 19:54:32 +0000 2014\",\"utc_offset\":null,\"time_zone\":null,\"geo_enabled\":true,\"lang\":\"en\",\"contributors_enabled\":false,\"is_translator\":false,\"profile_background_color\":\"C0DEED\",\"profile_background_image_url\":\"http://abs.twimg.com/images/themes/theme1/bg.png\",\"profile_background_image_url_https\":\"https://abs.twimg.com/images/themes/theme1/bg.png\",\"profile_background_tile\":false,\"profile_link_color\":\"1DA1F2\",\"profile_sidebar_border_color\":\"C0DEED\",\"profile_sidebar_fill_color\":\"DDEEF6\",\"profile_text_color\":\"333333\",\"profile_use_background_image\":true,\"profile_image_url\":\"http://pbs.twimg.com/profile_images/711615965721718784/7My0kbZI_normal.jpg\",\"profile_image_url_https\":\"https://pbs.twimg.com/profile_images/711615965721718784/7My0kbZI_normal.jpg\",\"profile_banner_url\":\"https://pbs.twimg.com/profile_banners/2577403879/1556810267\",\"default_profile\":true,\"default_profile_image\":false,\"following\":null,\"follow_request_sent\":null,\"notifications\":null},\"geo\":null,\"coordinates\":null,\"place\":null,\"contributors\":null,\"retweeted_status\":{\"created_at\":\"Mon May 13 03:23:08 +0000 2019\",\"id\":1127776262246862848,\"id_str\":\"1127776262246862848\",\"text\":\"#CallforCode Fun Live coding event with @IBMDeveloper @johnwalicki - Using #NodeRED and AI to analyze social media https://t.co/cCmE7WyFUj\",\"source\":\"<a href=\\\"http://twitter.com\\\" rel=\\\"nofollow\\\">Twitter Web Client</a>\",\"truncated\":false,\"in_reply_to_status_id\":null,\"in_reply_to_status_id_str\":null,\"in_reply_to_user_id\":null,\"in_reply_to_user_id_str\":null,\"in_reply_to_screen_name\":null,\"user\":{\"id\":2577403879,\"id_str\":\"2577403879\",\"name\":\"John Walicki\",\"screen_name\":\"johnwalicki\",\"location\":\"New Jersey, USA\",\"url\":\"https://github.com/johnwalicki\",\"description\":\"IBM Watson Internet of Things Developer Advocate, Über Geek, Family Guy. #IoT #OpenSource #Linux #AI #CallforCode #IBMDroneDrop My tweets are my own.\",\"translator_type\":\"none\",\"protected\":false,\"verified\":false,\"followers_count\":5754,\"friends_count\":1536,\"listed_count\":161,\"favourites_count\":9012,\"statuses_count\":2520,\"created_at\":\"Thu Jun 19 19:54:32 +0000 2014\",\"utc_offset\":null,\"time_zone\":null,\"geo_enabled\":true,\"lang\":\"en\",\"contributors_enabled\":false,\"is_translator\":false,\"profile_background_color\":\"C0DEED\",\"profile_background_image_url\":\"http://abs.twimg.com/images/themes/theme1/bg.png\",\"profile_background_image_url_https\":\"https://abs.twimg.com/images/themes/theme1/bg.png\",\"profile_background_tile\":false,\"profile_link_color\":\"1DA1F2\",\"profile_sidebar_border_color\":\"C0DEED\",\"profile_sidebar_fill_color\":\"DDEEF6\",\"profile_text_color\":\"333333\",\"profile_use_background_image\":true,\"profile_image_url\":\"http://pbs.twimg.com/profile_images/711615965721718784/7My0kbZI_normal.jpg\",\"profile_image_url_https\":\"https://pbs.twimg.com/profile_images/711615965721718784/7My0kbZI_normal.jpg\",\"profile_banner_url\":\"https://pbs.twimg.com/profile_banners/2577403879/1556810267\",\"default_profile\":true,\"default_profile_image\":false,\"following\":null,\"follow_request_sent\":null,\"notifications\":null},\"geo\":null,\"coordinates\":null,\"place\":null,\"contributors\":null,\"is_quote_status\":false,\"quote_count\":0,\"reply_count\":0,\"retweet_count\":1,\"favorite_count\":1,\"entities\":{\"hashtags\":[{\"text\":\"CallforCode\",\"indices\":[0,12]},{\"text\":\"NodeRED\",\"indices\":[71,79]}],\"urls\":[{\"url\":\"https://t.co/cCmE7WyFUj\",\"expanded_url\":\"https://developer.ibm.com/callforcode/blogs/use-node-red-and-ai-to-analyze-social-media-after-a-disaster\",\"display_url\":\"developer.ibm.com/callforcode/bl…\",\"indices\":[111,134]}],\"user_mentions\":[{\"screen_name\":\"IBMDeveloper\",\"name\":\"IBM Developer\",\"id\":16362921,\"id_str\":\"16362921\",\"indices\":[36,49]},{\"screen_name\":\"johnwalicki\",\"name\":\"John Walicki\",\"id\":2577403879,\"id_str\":\"2577403879\",\"indices\":[50,62]}],\"symbols\":[]},\"favorited\":false,\"retweeted\":false,\"possibly_sensitive\":false,\"filter_level\":\"low\",\"lang\":\"en\"},\"is_quote_status\":false,\"quote_count\":0,\"reply_count\":0,\"retweet_count\":0,\"favorite_count\":0,\"entities\":{\"hashtags\":[{\"text\":\"CallforCode\",\"indices\":[17,29]},{\"text\":\"NodeRED\",\"indices\":[88,96]}],\"urls\":[],\"user_mentions\":[{\"screen_name\":\"johnwalicki\",\"name\":\"John Walicki\",\"id\":2577403879,\"id_str\":\"2577403879\",\"indices\":[3,15]},{\"screen_name\":\"IBMDeveloper\",\"name\":\"IBM Developer\",\"id\":16362921,\"id_str\":\"16362921\",\"indices\":[53,66]},{\"screen_name\":\"johnwalicki\",\"name\":\"John Walicki\",\"id\":2577403879,\"id_str\":\"2577403879\",\"indices\":[67,79]}],\"symbols\":[]},\"favorited\":false,\"retweeted\":false,\"filter_level\":\"low\",\"lang\":\"en\",\"timestamp_ms\":\"1557719891583\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":280,"wires":[["c6e74f6f.a3021"]]},{"id":"c6e74f6f.a3021","type":"change","z":"84af534a.99951","name":"","rules":[{"t":"set","p":"tweet","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"tweet.text","pt":"msg","to":"tweet.tweet.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":280,"wires":[["30865ac0.fcfe36"]]},{"id":"9677ff8c.e75d7","type":"debug","z":"84af534a.99951","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":870,"y":480,"wires":[]},{"id":"30865ac0.fcfe36","type":"function","z":"84af534a.99951","name":"","func":"if ( msg.payload === false ) {\n    return null;\n}\n\nif( typeof msg.tweet.text != 'undefined') {\n   return msg;\n}","outputs":1,"noerr":0,"x":310,"y":200,"wires":[["48e8102.3a0f7f"]]},{"id":"7ede9bb0.dffc74","type":"debug","z":"84af534a.99951","name":"","active":true,"tosidebar":true,"console":false,"complete":"tweet","x":300,"y":100,"wires":[]},{"id":"4163ca1f.34f4e4","type":"function","z":"84af534a.99951","name":"Tweet URL","func":"msg.payload = \"<a href=\\\"https://twitter.com/\"+msg.tweet.user.screen_name+\"/status/\"+msg.tweet.id_str+\"\\\">Open Tweet</a>\";\nif( typeof msg.payload.retweeted_status != 'undefined') {\n    msg.payload = \"<a href=\\\"https://twitter.com/\"+msg.tweet.retweeted_status.user.screen_name+\"/status/\"+msg.tweet.retweeted_status.id_str+\"\\\">Open Tweet</a>\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":400,"wires":[["5e536ec4.7dedd","6830deee.98ba9"]]},{"id":"5e536ec4.7dedd","type":"debug","z":"84af534a.99951","name":"","active":false,"console":"false","complete":"false","x":610,"y":360,"wires":[]},{"id":"6830deee.98ba9","type":"ui_template","z":"84af534a.99951","group":"38e2fee7.b6fb82","name":"Open Tweet","order":3,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":610,"y":400,"wires":[[]]},{"id":"1492a446.cd8bdc","type":"ui_text","z":"84af534a.99951","group":"38e2fee7.b6fb82","order":2,"width":"10","height":"3","name":"Tweet Text","label":"{{msg.store.sender}}","format":"{{msg.payload}}","layout":"row-spread","x":410,"y":520,"wires":[]},{"id":"c44c5572.17d6b8","type":"ui_gauge","z":"84af534a.99951","name":"","group":"38e2fee7.b6fb82","order":4,"width":"10","height":"8","gtype":"gage","title":"Sentiment","label":"units","format":"{{value}}","min":"-10","max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":870,"y":440,"wires":[]},{"id":"182f9792.c9ee58","type":"change","z":"84af534a.99951","name":"Sentiment Score","rules":[{"t":"set","p":"payload","pt":"msg","to":"sentiment.score","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":440,"wires":[["c44c5572.17d6b8","3958245d.05773c"]]},{"id":"8827b4a9.000938","type":"inject","z":"84af534a.99951","name":"Init Dashboard","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":"","x":140,"y":40,"wires":[["fd960cdb.3f397"]]},{"id":"fd960cdb.3f397","type":"function","z":"84af534a.99951","name":"Inject /worldmap","func":"msg.payload = \"/worldmap\";\nmsg.payload.command = {};\n\nvar u = 'http://{s}.tile.openstreetmap.org/hot/{z}/{x}/{y}.png';\nvar o = JSON.stringify({ maxZoom: 19, attribution: '&copy; OpenStreetMap'});\n\nmsg.payload.command =   {\n                        layer:\"Esri\",\n                        lat:18.44081,\n                        lon:-66.08068,                        \n                        zoom:2,\n                        map: {name:\"Esri\", url:u, opt:o},\n                        };\nreturn msg;\n","outputs":1,"noerr":0,"x":360,"y":40,"wires":[["ad8c19b0.cdaa28"]]},{"id":"ad8c19b0.cdaa28","type":"template","z":"84af534a.99951","name":"Add Map to Dashboard","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe src={{{payload}}} height=624px width=768px></iframe>","x":610,"y":40,"wires":[["bacb51d5.e80de"]]},{"id":"bacb51d5.e80de","type":"ui_template","z":"84af534a.99951","group":"ac644020.a703","name":"Embedded Map","order":0,"width":"16","height":"13","format":"<div ng-bind-html=\"msg.payload | trusted\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":860,"y":40,"wires":[[]]},{"id":"3958245d.05773c","type":"debug","z":"84af534a.99951","name":"Sentiment Score","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":890,"y":400,"wires":[]},{"id":"bd49a87d.f7eeb8","type":"ui_switch","z":"84af534a.99951","name":"","label":"Enable / Disable","tooltip":"","group":"38e2fee7.b6fb82","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":140,"y":200,"wires":[["30865ac0.fcfe36"]]},{"id":"48e8102.3a0f7f","type":"switch","z":"84af534a.99951","name":"tweet.user.location ?","property":"tweet.user.location","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":500,"y":200,"wires":[["3ef6510f.2352ce"]]},{"id":"3ef6510f.2352ce","type":"change","z":"84af534a.99951","name":"MapBox AccessToken","rules":[{"t":"set","p":"accesstoken","pt":"msg","to":"pk.eyJ1IjoibmF2ZWVuMTIzNDU2IiwiYSI6ImNrY2Z2eXlzZzBlY2wzMWxwa2psdzlnNWsifQ.UBVbduVfiNtSvwLFm4Zzqg","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":200,"wires":[["ef9ee3ab.dcbe4","c3874b25.960478"]]},{"id":"ef9ee3ab.dcbe4","type":"http request","z":"84af534a.99951","name":"MapBox HTTP Request","method":"GET","ret":"txt","paytoqs":false,"url":"https://api.mapbox.com/geocoding/v5/mapbox.places/{{{tweet.user.location}}}.json?access_token={{accesstoken}}&limit=1","tls":"","persist":false,"proxy":"","authType":"","x":990,"y":200,"wires":[["b9ccc6d1.8e6d28"]]},{"id":"b9ccc6d1.8e6d28","type":"json","z":"84af534a.99951","name":"","property":"payload","action":"","pretty":false,"x":1190,"y":200,"wires":[["8da07bb8.574b18"]]},{"id":"8da07bb8.574b18","type":"change","z":"84af534a.99951","name":"Payload for sentiment","rules":[{"t":"set","p":"store.lat","pt":"msg","to":"payload.features[0].geometry.coordinates[1]","tot":"msg"},{"t":"set","p":"store.lon","pt":"msg","to":"payload.features[0].geometry.coordinates[0]","tot":"msg"},{"t":"set","p":"store.place","pt":"msg","to":"location.place","tot":"msg"},{"t":"set","p":"store.name","pt":"msg","to":"tweet.id_str","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"tweet.text","tot":"msg"},{"t":"set","p":"store.sender","pt":"msg","to":"tweet.user.screen_name","tot":"msg"},{"t":"set","p":"store.photoUrl","pt":"msg","to":"tweet.user.profile_image_url","tot":"msg"},{"t":"set","p":"store.command.zoom","pt":"msg","to":"4","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":160,"y":460,"wires":[["4163ca1f.34f4e4","96ae724b.11c94","1492a446.cd8bdc"]]},{"id":"dc8bddd1.f2696","type":"comment","z":"84af534a.99951","name":"MapBox Forward GeoCode API","info":"","x":510,"y":160,"wires":[]},{"id":"c3874b25.960478","type":"debug","z":"84af534a.99951","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":930,"y":160,"wires":[]},{"id":"8728195d.130a18","type":"comment","z":"84af534a.99951","name":"chnage zoom for country","info":"","x":150,"y":420,"wires":[]},{"id":"5407e14a.bf25d","type":"twitter in","z":"84af534a.99951","d":true,"twitter":"","tags":"#IndiaFightsCorona,#covid19Karnataka,#ICMRFIGHTSCOVID19,#CoronaWarriors,#TogetherAgainstCovid19","user":"false","name":"","inputs":1,"x":110,"y":100,"wires":[["7ede9bb0.dffc74","bd49a87d.f7eeb8"]]},{"id":"96ae724b.11c94","type":"sentiment","z":"84af534a.99951","name":"","property":"payload","x":400,"y":460,"wires":[["7aac577d.6ad148","182f9792.c9ee58"]]},{"id":"eae25feb.f2aaf","type":"worldmap","z":"84af534a.99951","name":"","lat":"20.5937","lon":"78.9629","zoom":"14","layer":"Esri","cluster":"0","maxage":"","usermenu":"show","layers":"show","panit":"true","panlock":"true","zoomlock":"true","hiderightclick":"false","coords":"none","path":"","x":830,"y":600,"wires":[]},{"id":"38e2fee7.b6fb82","type":"ui_group","z":"","name":"Global Tweets","tab":"68bacbf9.0fc3d4","order":1,"disp":true,"width":"10","collapse":false},{"id":"ac644020.a703","type":"ui_group","z":"","name":"Global Tweet Map","tab":"68bacbf9.0fc3d4","order":2,"disp":true,"width":"16","collapse":false},{"id":"68bacbf9.0fc3d4","type":"ui_tab","z":"","name":"Tweet Map","icon":"dashboard","order":4}]