Home_page.json
[{"id":"6fb8140d.8d4d1c","type":"tab","label":"Home","disabled":false,"info":""},{"id":"c716e5cd.b76728","type":"http in","z":"6fb8140d.8d4d1c","name":"covid","url":"/","method":"get","upload":false,"swaggerDoc":"","x":130,"y":140,"wires":[["d4c2d4c.b7c5a28"]]},{"id":"d4c2d4c.b7c5a28","type":"template","z":"6fb8140d.8d4d1c","name":"HTML CODE","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html lang=\"en\">\n\n<head>\n\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"ie=edge\">\n    <title>Sentimental Analysis of covid 19 tweets</title>\n     <script src=\"https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js\"></script>\n    <link href=\"https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css\" rel=\"stylesheet\">\n    <script src=\"https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js\"></script>\n    <script src=\"https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js\"></script>\n    <link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css\" integrity=\"sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk\" crossorigin=\"anonymous\">\n    <link href=\"{{ url_for('static', filename='css/main.css') }}\" rel=\"stylesheet\"> \n\t\n\t<style>\n\t.bg-dark {\n\t\tbackground-color: #42678c!important;\n\t}\n\t#result {\n\t\tcolor: #0a1c4ed1;\n\t}\n\t\n\th3.weight{\n\n    \tfont-family:Arial,Helvetica,sans-serif;\n    \tfont-weight: bold;\n\t}\n\t\n\tp.weight{\n\n    \tfont-family:Arial,Helvetica,sans-serif;\n    \t\n\t}\n\t\n        .img-preview {\n    width: 286px;\n    height: 286px;\n     position:relative;\n    left: 450px;\n    border: 5px solid #F8F8F8;\n    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);\n    margin-top: 1em;\n    margin-bottom: 1em;    \n}\n\nsection{\n\n   position: relative;\n   display: flex;\n   justify-content: center;\n   align-items: center;\n   background: url(https://linedancing.no/wp-content/uploads/2020/04/Coronavirus-2000x1029-px.jpg);\n   background-attachment: fixed;\n   height: 330vh;\n \n\n\n}\n        \n\nsection .descript{\n\n    position: relative;\n    max-width:800px;\n    left:200px;\n    height:1600px;\n    padding: 50px;\n    box-shadow: 0 5px 15px rgba(0,0,0,.5);\n    overflow: hidden;\n    color:#000; \n}\n\nsection .descript:before{\n\n    content: '';\n    position: absolute;\n    top: -20px;\n    left: -20px;\n    right: -20px;\n    bottom: -20px; \n    background: #333;\n    background-attachment: fixed;\n    opacity: 0.6;\n   \n}\n\nsection .descript h3{\n    position:relative;\n    margin: 0 0 20px;\n    padding: 0;\n    font-size: 30px;\n    text-transform: uppercase;\n    z-index:2;\n      color: white;\n    \n}\n\nsection .descript p{\n\n    position:relative;\n    margin: 0;\n    padding: 0;\n    font-size: 18px;\n    z-index:2;\n      color: white;\n    \n}\n\n\nsection .upload{\n    margin: 20;\n    display:inline-block;\n    position:relative;\n    left: 180px;\n    align-items: center;\n    width:800px;\n    height:300px;\n    padding: 25px;\n    box-shadow: 0 5px 15px rgba(0,0,0,.5);\n    color:#000; \n    z-index: 2;\n    \n\n}\n\nsection .upload h1{\n\n\n     position:relative;\n    margin: 0 0 20px;\n    padding: 0;\n    font-size: 20px; \n     \n    z-index:2;\n      color: white;\n}\n\nsection .upload:before{\n\n    content: '';\n    margin: 20px;\n    position: absolute;\n    top: -20px;\n    left: -20px;\n    right: -20px;\n    bottom: -20px; \n    background: #333;\n    background-attachment: fixed;\n    opacity: 0.4;\n   \n}\n\nsection .predict{\n        position: relative;\n    left:450px;\n\n}\n\n.img-preview>div {\n    width: 100%;\n    height: 100%;\n    background-size: 256px 256px;\n    background-repeat: no-repeat;\n    background-position: center;\n}\n\ninput[type=\"file\"] {\n    display: none;\n}\n\n\n\n.upload-label{\n    display: inline-block;\n    padding: 12px 30px;    \n     position:relative;\n    left: 500px;\n    background: #fff;\n    color: #000000;\n    font-size: 1em;\n    transition: all .4s;\n    cursor: pointer;\n}\n\n.upload-label:hover{\n    background: black;\n    color: #f3f3f3;\n       \n}\n\nsection .loader {\n    border: 8px solid #f3f3f3; /* Light grey */\n    border-top: 8px solid #3498db; /* Blue */\n    border-radius: 50%;\n    position: relative;\n    left:450px;\n    width: 100px;\n    height: 50px;\n    animation: spin 5s linear infinite;\n\n}\n\n  \n\t</style>\n\t\n</head>\n\n<body>\n\n    <!NAV BAR CONTAINING THE HEADING>\n    <nav class=\"navbar navbar-dark bg-danger sticky-top\" >\n        <div class=\"container\">\n            <a class=\"navbar-brand\" href=\"#\"><b>SENTIMENTAL ANALYSIS OF COVID19 TWEETS - VISUALIZATION DASHBOARD</b></a>\n        </div>\n    </nav>\n\n<section>\n    <div class=\"box\">\n    <div class=\"container\">\n        <div id=\"content\" style=\"margin-top:2em\">\n\t\t<div class=\"container\">\n\t\t  <div class=\"row\">\n\t\t\t<div class=\"descript\" >\n\t\t\t  <h3 class=\"weight\">TO KNOW DETAILS ABOUT COVID19 TWEETS SEE BELOW </h3>\n\t\t\t  <br>\n\t\t\t  <p class=\"weight\">\n                \n            \n                <!LIVE TWEET ANALYSIS>\n                 \n                  <a href=\"https://node-red-cgbhd.eu-gb.mybluemix.net/ui/#!/2?socketid=i916XPtBWHB_Etn3AAAF\" style=\"color:#FFFFFF;\"><strong>click here: ->1.LIVE TWEET ANALYSIS</strong></a> \n                  \n                  <br>\n                  \n                  <a href=\"https://node-red-cgbhd.eu-gb.mybluemix.net/ui/#!/2?socketid=i916XPtBWHB_Etn3AAAF\">\n\n                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\n                      <img src=\"https://www.w3.org/comm/assets/stock/shutterstock_728178127-500px.jpg\" height=\"250px\" width=\"400px\"></a>\n                  <br>\n                  <br>\n                    &nbsp;&nbsp;&nbsp;Analyse live tweets from the twitter with hashtags \"#IndiaFightsCorona\", \"#covid19Karnataka\" , \"#ICMRFIGHTSCOVID19\", \"#CoronaWarriors\",\"#TogetherAgainstCovid19\" and drawing meaningful graph,Locating tweets source on Indian map, Perform image analysis on Images tagged for tweets using power of Watson visual recognition.\n                  <br>\n                  <br>\n                  \n                  <!PAST TWEET ANALYSIS>\n                  \n                  <a href=\"https://covid19-sentiment-analysis.herokuapp.com/\" style=\"color:#FFFFFF;\"><strong>click here: ->2.PAST TWEET ANALYSIS</strong></a>\n                  \n                  <br>\n                  \n                  <a href=\"https://covid19-sentiment-analysis.herokuapp.com/\">\n                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\n    \n                      <img src=\"https://www.abc.net.au/cm/lb/12126972/data/graph-5-data.jpg \" height=\"250px\" width=\"400px\"></a>\n                  <br>\n                  <br>\n                  &nbsp;&nbsp;&nbsp;Analyse the past tweets from India right from the beginning of lockdown till june end and performing sentimental analysis and plotting beautiful bar graphs , word clouds etc.,. (Lock down 1.0,Lockdown 2.0 …….. ) Now, here for our current scope we only analysed tweets on April 16 and to see the analysis click the image or link. \n                  <br>\n                  <br>\n                  \n                  \n                   <!CHATBOT FOR COVID TWEET ANALYSIS>\n                  \n                   <a href=\"https://node-red-zdmxi.eu-gb.mybluemix.net/ui/#!/0?socketid=1Ui9ct1K8TV4qjugAAAE\" style=\"color:#FFFFFF;\">click here -><strong>3.CHATBOT FOR COVID TWEET ANALYSIS</a></strong>\n                  <br>\n                  \n                  <a href=\"https://node-red-zdmxi.eu-gb.mybluemix.net/ui/#!/0?socketid=1Ui9ct1K8TV4qjugAAAE\">\n                      \n                       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\n    \n                      <img src=\"https://miro.medium.com/max/4000/1*m9IJdAYW04MYh75ivpwUNA.png\"  height=\"250px\" width=\"400px\"></a>\n                \n                  <br>\n                  <br>\n                  &nbsp;&nbsp;&nbsp; We trained our chatbot to answer Covid 19 related FAQs and it can also answer the covid 19 tweet stats for months March, April, May and June followed/prefixed by keywords mid & end. It tells About total no of tweets, no of positive,negative and neutral tweets for the particular month you ask. It mainly helps you to understand about our dashboard and pages, you can also ask question regarding our project. Why waiting lets play with our chatbot! :) \n                  <br>\n                  <br>\n                      \n                      \n                \n                </p>\n\t\t\t       \n\t\t\t</div>\n\t\t\t\n\t\t\t<div>\n\t\t\t\t<div class=\"align\">\n\t\t\t\t <div class=\"upload\"> <h1>Project Done by <br> Team Creative Mindz<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.K.NaveenKumar<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.N.J.Nishok<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.R.Ragul<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4.M.Sowmithra<br>Competition:IBM Hack challenge-2020<br>Problem Statement: Sentimental Analysis of covid19 tweets- visualization dashboard</h1>    </div>\n\t\t\t\n                   \n                <center><form action=\"https://moodofindia.herokuapp.com/\">\n\n                    <input type=\"submit\" value=\"Location wise analysis in India-By IIT tirupathi\" />\n\n                    </form>\n                    \n                    <form action=\"https://node-red-cgbhd.eu-gb.mybluemix.net/awareness_page\">\n\n                    <input type=\"submit\" value=\"Covid 19 Awareness page\" />\n\n                    </form>\n                    \n                    </center>\n\t\t\t\n\n\t\t</div>\n\t\t\t</div>\n\t\t\t \n\t\t  </div>\n\t\t</div>\n\t\t</div>\n    </div>\n    </div>\n    </section>\n</body>\n\n\n\n</html>","output":"str","x":430,"y":140,"wires":[["2f7c35cb.1db48a"]]},{"id":"2f7c35cb.1db48a","type":"http response","z":"6fb8140d.8d4d1c","name":"","statusCode":"","headers":{},"x":650,"y":140,"wires":[]},{"id":"bad0fb32.071448","type":"template","z":"6fb8140d.8d4d1c","name":"default","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <title>LIVE DATA ANALSIS</title>\n    </head>\n    <body>\n        <center><b>HERE THE LIVE DATA WOULD BE ANALSED</b></center>\n    </body>\n</html>","output":"str","x":410,"y":860,"wires":[["28e0717b.710a7e"]]},{"id":"28e0717b.710a7e","type":"http response","z":"6fb8140d.8d4d1c","name":"","statusCode":"","headers":{},"x":630,"y":860,"wires":[]},{"id":"e416dcec.68288","type":"http in","z":"6fb8140d.8d4d1c","name":"covid","url":"/l","method":"get","upload":false,"swaggerDoc":"","x":130,"y":860,"wires":[["bad0fb32.071448"]]},{"id":"188e8fa9.d7fa6","type":"http response","z":"6fb8140d.8d4d1c","name":"","statusCode":"","headers":{},"x":650,"y":240,"wires":[]},{"id":"b4e5e491.46ad48","type":"template","z":"6fb8140d.8d4d1c","name":"RECORD","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <title>Covid 19 Awareness page</title>\n         <meta name=\"viewport\" content=\"width=device-width, initial-scale=100%\"/>\n        <script src=\"https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js\"></script>\n    <link href=\"https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css\" rel=\"stylesheet\">\n    <script src=\"https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js\"></script>\n    <script src=\"https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js\"></script>\n    <link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css\" integrity=\"sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk\" crossorigin=\"anonymous\">\n    <link href=\"{{ url_for('static', filename='css/main.css') }}\" rel=\"stylesheet\"> \n    </head>\n      \n    <body>\n<style type=\"text/css\">\n            \n.abc{\n    text-align:center;\n    font-size: 35px;\n    color: black;\n    \n   \n}\n.aa{\n    font-size: 25px;\n    text-align: center;\n    height: 150px;\n    color: black;\n}\n\n.ac{\n    align-content: center;\n    background-color: skyblue;\n    height: 300px;\n}\n.qwe{\n    font-size: 25px;\n    color: white;\n}\n.r{\n    text-align: center;\n    font-size: 30px;\n}\n\n    section{\n\n   position: relative;\n   display: flex;\n   justify-content: center;\n   align-items: center;\n   background: url(https://linedancing.no/wp-content/uploads/2020/04/Coronavirus-2000x1029-px.jpg);\n   background-attachment: fixed;\n   height: 200vh;\n \n\n\n}\n        </style>\n         <!NAV BAR CONTAINING THE HEADING>\n    <nav class=\"navbar navbar-dark bg-danger sticky-top\" >\n        <div class=\"container\">\n            <a class=\"navbar-brand\" href=\"#\"><b>SENTIMENTAL ANALYSIS OF COVID19 TWEETS - VISUALIZATION DASHBOARD</b></a>\n        </div>\n    </nav>\n\n      <section>\n         <div class=\"fgh\">\n            \n           <div class=tweet> \n               \n            <div class=\"ac\">  \n                <p class=\"aa\"><strong>Corona virus Awareness Page<br> To prevent the spread of COVID-19:</strong> <br><br>\n                <strong>1.</strong>Clean your hands often. &nbsp;&nbsp;&nbsp;\n                <strong>2.</strong>Use soap and water, or an alcohol-based hand rub.&nbsp;&nbsp;&nbsp;\n                <strong>3.</strong>Maintain a safe distance from anyone who is coughing or sneezing.&nbsp;&nbsp;&nbsp;\n                <strong>4.</strong>Wear a mask when physical distancing is not possible.&nbsp;&nbsp;&nbsp;\n                <strong>5.</strong>Dont touch your eyes, nose or mouth.&nbsp;&nbsp;&nbsp;\n                <strong>6.</strong>Cover your nose and mouth with your bent elbow or a tissue when you cough or sneeze.&nbsp;&nbsp;&nbsp;\n                <strong>7.</strong>Stay home if you feel unwell.&nbsp;&nbsp;&nbsp;\n                <strong>8.</strong>If you have a fever, cough and difficulty breathing, seek medical attention.\n        </p>\n        </div>\n               \n        <div class=\"qwe\">\n            \n           <br>\n            <br>\n            <marquee scrollamount=30 onmouseover=\"this.stop()\" onmouseout=\"this.start()\">\n             <p>\n                 <img src=\"https://www.healthhub.sg/sites/assets/Assets/Article%20Images/washing_hands_photos.jpg\"  height=\"200px\" width=\"400px\">\n                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src=\"https://i.pinimg.com/564x/15/34/ec/1534ecc5183c02fbf5ca054088cb9bd6.jpg\"height=\"200px\" width=\"400px\">\n                <br>&nbsp;&nbsp;&nbsp;STEPS TO WASH YOUR HANDS &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;HOW TO WEAR A MASK\n             </p>\n             </marquee>\n            <br>\n            <br>\n            <center> <iframe  src=\"https://www.youtube.com/embed/U8r3oTVMtQ0?autoplay=1\" height=\"400px\" width=\"600px\"></iframe></center>\n            </section>\n        </div>\n        </div>\n  </body>\n</html>\n","output":"str","x":400,"y":240,"wires":[["188e8fa9.d7fa6"]]},{"id":"91b7047c.26bba8","type":"http in","z":"6fb8140d.8d4d1c","name":"covid","url":"/awareness_page","method":"get","upload":false,"swaggerDoc":"","x":130,"y":240,"wires":[["b4e5e491.46ad48"]]},{"id":"d48062a5.821cf","type":"comment","z":"6fb8140d.8d4d1c","name":"HOME PAGE","info":"","x":130,"y":80,"wires":[]},{"id":"6d24b9a5.a438b8","type":"comment","z":"6fb8140d.8d4d1c","name":"Corona Awareness page","info":"","x":170,"y":200,"wires":[]},{"id":"7911b8fe.b93ea8","type":"comment","z":"6fb8140d.8d4d1c","name":"","info":"","x":120,"y":800,"wires":[]}]